html, body {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  background-color: rgb(66, 77, 224);
  /* font-family: Arial, Helvetica, sans-serif; */
}
canvas {
  display: block;
  /* margin: auto; */
}
